{% extends "stream/base-no-side-bar.html" %}
{% block content %}
<div style="margin: auto; width: 70%; text-align: center; padding-top: 20%;">
    <h1 style="font-size: 55px">
        Welcome to SocialDistrubution! 💬
    </h1>
    <p>Please
        <a style="text-decoration: none;"href="{% url 'login' %}">
            login
        </a> 
        or 
        <a style="text-decoration: none;" href="{% url 'register' %}">
            register
        </a> 
        to continue.
    </p>
  </div>
{% endblock content %}